/* Contenido css */
.modal.modal-right .modal-dialog {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%; /* Ancho del modal */
    transform: translateX(0%);
    overflow-y: auto;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .modal.modal-right .modal-dialog {
        width: 80%; /* Cambia el ancho del modal para pantallas más pequeñas */
    }
}